{% extends 'base.html'%}
{% block content %}
<div align="center" class="container cen">
<h1 class="welc">Helping Hands</h1>
<br>
<p><strong>Welcome to helping hands website</strong> </p>
<br>
<p>
    <strong> We here work for the upliftment of both society and the environment, People like you help us
     in achieving this goal of ours</strong> </p> 
     <br>

     <p><strong>We collect books from all across Dehradun City and donate them to the children in Need</strong></p>

</div>
{% endblock%}